pyautogui
pillow
playwright
#playwright install chromium - install separately
pandas
openpyxl
fastapi
uvicorn
streamlit
langchain
langchain-community
langchain-huggingface
sentence-transformers
langchain-openai
faiss-cpu
langsmith